{% extends 'blog/base.html'%}
{% load static %}
{% block content %}

    <p>mane</p>

    <div >
        <p>نویسنده:{{ author.full_name }}</p>
        <img src="{{ author.avatar.url }}" width="50">
    </div>

    {% for post in object_list %}

        <div class="post-back">
            <div class="post">
                <div >
                    <img src="{{ post.image_title.url }}" width="300">
                </div>
                <div>
                    <h2><a href='{% url 'post_detail' pk=post.pk %}'>{{ post.title }}</a></h2>
                </div>    
                <div class="data">
                    {{ post.published_date}}
                </div>
                <p>author: <a href='{% url 'author_post_list' pk=post.author.pk %}'>{{ post.author.full_name }}</a></p>
                <div >
                    <img src="{{ post.author.avatar.url }}" width="50">
                </div>
                <div>
                    <p>{{ post.text|truncatechars:100 }}</p>
                <div>
                    <h4><a href='{% url 'category_post_list' pk=post.category.pk %}'>{{ post.category }}</a></h4>
                </div>
            </div>
        </div>
    {% endfor %}

    <! --paginator -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}"> &lt; previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next &gt; </a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <! --End of paginator -->


{% endblock %}