{% load static %}

<html>
    <head>
        <title>Django Boys Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <div class="page-header">
            
            <h1><a href="/">Django boys Blog</a></h1>

            {% if not user.is_authenticated%}            
                <h4><a href='{% url 'signup' %}'>Sign up</a></h4>
                <h4><a href='{% url 'login' %}'>Log in</a></h4>
            {% endif%}

            {% if user.is_authenticated %}
                <p><a href='/admin'>Admin page</a></P>
                <h4><a href='{% url 'logout' %}'>Log out</a></h4>
                <h4><a href='{% url 'post_new' %}'>new post</a></h4>
            {% endif %}
            
            {% for category in category_list %}
                <a href='{% url 'category_post_list' pk=category.pk %}'>--{{ category.name }}--</a>
            {% endfor %}
        </div>
        

        <div class="content container">
            <div class="row">
                <div class='col-sm-4'></div>
                <div class='col-sm-8'>
                {% block content %}
                
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>