<html>

<head>
    <title>Django Boys Blog</title>
</head>

<body>
    <div>
        <h1><a href="/">Django boys Blog</a></h1>
        <p><a href='/admin'>Admin</a></P>
    <div>
    {% for i in posts %}
    <div>
        <p>{{ i.author }}</p>
        <h1>{{ i.title }}</h1>
        <p>{{ i.text }}</p>
        <p>published: {{ i.published_date|linebreaksbr}}</p>
        <! --linebreaksbr is text through a filter to convert line-breaks into paragraphsd -->
    </div>
    {% endfor %}

</body>
</html>