<html>

<head>
    <title>Django Boys Blog</title>
</head>

<body>
    <div>
        <h1><a href="/">Django boys Blog</a></h1>
        <p><a href='/admin'>Admin</a></P>
    <div>
    
    <div>
        <p>published: 12.11.2020, 14:34</p>
        <h2><a href=''>My first post</a></h2>
        <p>this is the first post of us</p>
    </div>

    <div>
        <p><p>published: 12.11.2020, 14:38</p>
        <h2><a href=''>The second post</a></h2>
        <p>try to use HTML for templates</p>
    </div>
</body>
</html>