{% extends 'blog/base.html'%}
{% block content %}
    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                {{ post.published_date}}
                            </div>
                            
                            <p>author: {{ post.author }}</p>
                            <h2><a href='{% url 'post_detail' pk=post.pk %}'>{{ post.title }}</a></h2>
                            <! --"pk" means 'primery key'-->
                            <p>{{ post.text|linebreaksbr }}</p>
                            <! --linebreaksbr is text through a filter to convert line-breaks into paragraphsd -->
                             
                        </div>
                    {% endfor %}
{% endblock %}