
{% load static %}


<!doctype html>
<html lang="en">

    <head>
      <title>گلی</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">




      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
      <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

      <link rel="stylesheet" href="{% static 'css/aos.css' %}">

      <!-- MAIN CSS -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

    </head>

    <body>
        <div>
            <h2 class="post-form">عکس جدید</h2>
            <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit">ذخیره</button>
            </form>
        </div>
    </body>